/*웹 폰트*/

@font-face {
    font-family: 'JejuStoneWall';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* color 글씨 색 변경 */
/* font-size 글씨 크기 변경 보통 px이나 em단위를 쓴다 */
/* font-family 두께마다 묶음으로 존재하기 때문에 family라고 함
font-fmaily-arial 고딕 이렇게 쓰면 arial이 없는 경우 두번째인 고딕이 적용
그마저도 없다면 기본폰트로 적용됨  */
/* @font-face 로 웹폰트 다운로드 가능  */
/* font-style : italic(기울임체) */
/* font-weight 100부터 1000까지 100단위로 사용
기본 값은 500 높을수록 두꺼워진다 폰트가 지원하는 두께만 사용가능. */
/* line-height 줄간격, 박스와 같은 높이를 주어서 세로 방향 중앙 정렬에 사용됨.*/



.size{
    font-size: 32px;
}

.font{
    font-family:"JejuStoneWall"
    /* 자식까진 영향이 가지않음 */
}
.style{
    font-size: initial
}


.fw-100 { font-weight: 100;}
.fw-300 { font-weight: 300;}
.fw-500 { font-weight: 500;}
.fw-900 { font-weight: 900;}
.fw-1000 { font-weight: 1000;}
.fw-2000 { font-weight: 2000;}

.lh{
    line-height: 300%;
}

.middle {
    border: 1px solid red;
    height: 100px;
    line-height: 100px;
    width: 300px;
    text-align: center;
}
.spacing{
    letter-spacing: 1em;
    /* letter-spacing: -0.1em; */
    /* 
    1em의 기준은 글자 하나
    0em은 기본값
    */
}

.justyfy{
    text-align: justify;
}

.right{
    text-align: right;
}

.nowrap{
    border: 1px solid red;
    width:200px;
    /* 이 세개의 조합을 자주 사용함 하지만 하나라도 없으면 의미가 없음 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text{
    border:1px solid red;
    width: 200px;
}
.word-wrap{
    word-wrap:break-word;
}

.word-break{
    word-break: break-all;
}

.fake-h1{
    font-size: 2em;
    font-weight: 700;
}

/* letter-spacing 자간 조정 (기본값 0em) 마이너스 값 가능 */
/* text-aling 좌우 정렬 center도 가능 inline, inline-block에게만 영향을 미침 */
/* text-decoration - underline 밑 줄 , line-throu 취소선 , none a 태그 기본 밑 줄 없음. */

/* white - space : nowrap */
/* 꽉차도 한줄로 표시한다. (자동 줄바꿈을 하지않는다 br같은 수동은 먹힌다.) */
/* text-overflow - ellipsis */
/* ㄴ 말줄임표, 넘쳐서 가려지는 글씨가 있을 때 ...으로 표시 */


/* word-wrap : brack-word */
/* 한 단어가 길어도 튀어나가지 않게 다음줄로 줄바꿈 해줌. */
/* 원래 자동 줄 바꿈또한 유지된다. */
/* word-break : break-all */
/* 원래 자동 줄 바꿈을 무시하고 넘치는 것들을 다음 줄로 줄바꿈 해줌. */