*{
    /* border: 1px  solid red; */
    
}

.main1 {
    width: 500px;
}

#big {
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
}
.left {
    max-width: 50%;
    max-height: 100%;
    display: inline-block;
    width: 450px;
}
.right {
    max-width: 50%;
    max-height: 100%;
    display: inline-block;
    width: 500px;
}
.main1 {
    font-size: 2.5rem;
    width: 400px;

}
.gif {
    /* padding: 30px; */
    max-width: 100%;
    /* height: 500px; */
    background-image: url("https://kr.bandisoft.com/honeycam/howto/imgs/before.webp");
    background-repeat: no-repeat;
    padding-top: 200px;
}
.오른쪽본문 {
    text-align: left;
}

.main2img {
    width: 100%;
    height: auto;
    margin: 0 auto 0 0;

}
.main1to1, .main1, .main2to1{
    text-align: left;
}
.nomal{
    display: inline-block;
}

.left, .right{
    /* margin: 55px; */
    /* padding-top: 50px ; */
    padding: 0 50px;
    vertical-align: top;
}

#left1to2{
    margin: auto;
    margin-top: 30px;
}
#left1to1{
    display: inline-block;
}
.main2to1{
    border-left: 3px solid skyblue;
    padding-left: 20px;
    display: inline-block;
    
}
.main2{
    width: 400px;
}


/* 
width : 800
margin : 0 auoto <-마진 오토와 위드값으로 주는것
display: inline-block;
box-sizign:border-box;
width:300px;

*/